/* Variables and mixins declared here will be available in all other SCSS files */
$ssu-blue-30: #64ccc9;
$ssu-blue-50: #008eaa;
$ssu-blue-70: #00587c;

$ssu-black-50: #8a8d8f;
$ssu-black-70: #53565a;
$ssu-black-100: #000000;

$interactive-01: $ssu-blue-50;
$interactive-03: $ssu-blue-50;
$interactive-04: $ssu-blue-50;

$link-01: $ssu-blue-50;
$link-02: $ssu-blue-70;
$inverse-link: $ssu-blue-30;
$support-04: $ssu-blue-70;

$focus: $ssu-blue-70;
$hover-primary: $ssu-blue-70;
$hover-primary-text: $ssu-blue-70;
$hover-tertiary: $ssu-blue-70;
$active-primary: $ssu-blue-70;
$active-tertiary: $ssu-blue-70;
